Repository Ortolang/market: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, dependency_scanning, analyze, docker_build, deploy_on_dev

test:
  stage: test
  tags:
  - ortolang-docker-bind
  script:
  - docker build -f Dockerfile.test .

dependency_scanning:
  stage: test
  image:
    name: owasp/dependency-check
    entrypoint:
    - ''
  tags:
  - ortolang-docker-bind
  allow_failure: true
  script:
  - mkdir -p reports/dependency-check
  - /usr/share/dependency-check/bin/dependency-check.sh -s . --format 'ALL' --data /tmp/data --out reports/dependency-check/
  artifacts:
  ...

analyze:
  stage: analyze
  image: registry2.atilf.fr/atilf/sonarqube-scanner:1.1.0
  tags:
  - ortolang-docker-bind
  allow_failure: true
  script:
  - /sonar/sonar-scanner-cli/bin/sonar-scanner
  dependencies:
  - dependency_scanning

docker_build:
  stage: build
  tags:
  - ortolang-docker-bind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --rm -f Dockerfile -t $IMAGE_NAME .
  - docker push $IMAGE_NAME

deploy_on_dev:
  stage: deploy
  tags:
  - ortolang-docker-bind
  environment:
    name: vdorto
    url: https://www-dev.ortolang.fr
  image: registry2.atilf.fr/atilf/portainer-cli:1.6.0
  script:
  ...

Update nodejs
  Dockerfile
  Dockerfile.test
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Filters production branch when testing/building
  .gitlab-ci.yml
Due: none

Sets display blocks (Closes #75)
  src/main/webapp/static/app/styles/less/visualizers.less
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Uses gitlab ci template (#76)
  .gitlab-ci.yml
  Dockerfile
  docker/docker-stack.yml
  docker/nginx/default.conf
  docker/nginx/gzip.conf
Due: dependency_scanning, analyze, docker_build, deploy_on_dev

Adds API_URL (#76)
  .gitlab-ci.yml
  docker/docker-stack.yml
Due: none

Fixes typo
  .gitlab-ci.yml
Due: none

Sets version for production
  .gitlab-ci.yml
Due: none

Removes old stack
  docker/docker-stack.vdorto.yml
  docker/docker-stack.viorto.yml
  docker/docker-stack.vporto.yml
Due: deploy_on_dev

Adds analyze with sonar stage
  .gitlab-ci.yml
Due: none

Uses SONAR_LOGIN CI var
  .gitlab-ci.yml
  sonar-project.properties
Due: none

Removes sonar login property
  sonar-project.properties
Due: none

Adds sonar login from cmd option
  .gitlab-ci.yml
  sonar-project.properties
Due: none

Updates nginx
  Dockerfile
Due: dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "frontend url"
  .gitlab-ci.yml
  src/main/webapp/static/app/index.html
  src/main/webapp/static/app/market/item-ctrl.js
  src/main/webapp/static/app/vue/top-navbar/top-navbar.ajs.js
  src/main/webapp/static/app/vue/top-navbar/top-navbar.component.vue
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Sets ENDPOINT_DEV
  .gitlab-ci.yml
Due: none

Removes var ENDPOINT_DEV
  .gitlab-ci.yml
Due: none

Sets env name
  .gitlab-ci.yml
Due: none

Resolve "js folder"
  .gitlab-ci.yml
  config/webpack.common.js
  config/webpack.prod.js
  docker/docker-compose.yml
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "sitemap"
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  docker/nginx/default.conf
Due: dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "update and fix vulnerabilities"
  config/webpack.dev.js
  package-lock.json
  package.json
  src/main/webapp/static/app/vendor.ts
  src/main/webapp/static/app/vendor/highlightjs.js
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Uses quote for portainer env var
  .gitlab-ci.yml
Due: none

Uses escape double quote for env var
  .gitlab-ci.yml
Due: none

Removes / before help link (closes #81)
  src/main/webapp/static/app/vue/top-navbar/top-navbar.component.vue
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "update portainer-cli"
  .gitlab-ci.yml
Due: none

Resolve "back to wp"
  src/main/webapp/static/app/vue/top-navbar/top-navbar.component.vue
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "sort by date"
  src/main/webapp/static/app/market/cluster.js
  src/main/webapp/static/app/market/corpora.js
  src/main/webapp/static/app/market/lexicons.js
  src/main/webapp/static/app/market/terminologies.js
  src/main/webapp/static/app/market/tools.js
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Updates production to 10.2.0
  .gitlab-ci.yml
Due: none

Resolve "removes meta tag noindex"
  src/main/webapp/static/app/index.html
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "fixes delete button for parts"
  src/main/webapp/static/app/common/directives/parts.js
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Resolve "hides search button"
  src/main/webapp/static/app/market/templates/ortolang-item-json-13.html
  src/main/webapp/static/app/market/templates/ortolang-item-json-14.html
  src/main/webapp/static/app/market/templates/ortolang-item-json-15.html
  src/main/webapp/static/app/market/templates/ortolang-item-json-16.html
  src/main/webapp/static/app/workspace/workspace-dashboard.html
Due: test, dependency_scanning, analyze, docker_build, deploy_on_dev

Release 9.4.1
  package.json
Due: none

Release 10.3.0
  package.json
Due: none

Updates production with 10.3.0
  .gitlab-ci.yml
Due: none

Updates snapshot version
  package.json
Due: none

Resolve "Updates angular to 1.8.3"
  package-lock.json
  package.json
Due: none

Fixes source folder in sonar config
  sonar-project.properties
Due: none

Updates stack for Traefik2
  docker/docker-stack.yml
Due: none

Updates gitlab-ci
  .gitlab-ci.yml
Due: none

Path conditions:
  test: any of: Dockerfile.test, config/*, src/main/webapp/static/app/**/*, src/main/webapp/static/test/**/*
  dependency_scanning: any of: Dockerfile, nginx/*, config/*, src/main/webapp/static/app/**/*
  analyze: any of: Dockerfile, nginx/*, config/*, src/main/webapp/static/app/**/*
  docker_build: any of: Dockerfile, nginx/*, config/*, src/main/webapp/static/app/**/*
  deploy_on_dev: any of: Dockerfile, docker/docker-stack.vdorto.yml, nginx/*, config/*, src/main/webapp/static/app/**/*
